<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
  <!-- 设置日志类型，root节点比logger优先 -->
  <!--
    <root>
      <level value="ALL" />
      <appender-ref ref="info_log" />
    </root>
    -->
  <root>
    <level value="ALL" />
    <appender-ref ref="info_log" />
  </root>
  <!-- 设置节点 -->
  <logger name="InfoLogger">
    <level value="INFO" />
    <appender-ref ref="info_log" />
  </logger>
  <logger name="ErrorLogger">
    <level value="ERROR" />
    <level value="WARN" />
    <appender-ref ref="error_log" />
  </logger>
  <!-- 节点信息明细设置 ，讲info与error分别记录-->
  <appender name="info_log" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="log4/" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Date" />
    <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
    <param name="StaticLogFileName" value="false" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
    </layout>
  </appender>
  <appender name="error_log" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="log4/" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Date" />
    <param name="DatePattern" value="&quot;Error_&quot;yyyyMMdd&quot;.txt&quot;" />
    <param name="StaticLogFileName" value="false" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
    </layout>
  </appender>
</log4net>
